---
Language: Cpp
BasedOnStyle: Google
# cpp11风格
Standard: Cpp11

# public等控制符缩进
AccessModifierOffset: -4

# 对齐连续的赋值
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# 自动对齐控制
AlignEscapedNewlines: Right
# 水平对齐二元或三元操作的操作数
AlignOperands: true
# （多行）函数参数不对齐左括号
AlignAfterOpenBracket: DontAlign

# 尾部的注释对齐
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakBeforeMultilineStrings: true

# 函数调用时参数不对换行规则强制要求
BinPackArguments: true
# 函数参数定义要么同一行要么一个一行
BinPackParameters: true
# 初始化列表要么同一行要么一个一行
ConstructorInitializerAllOnOneLineOrOnePerLine: true
# 总是在template声明后换行
AlwaysBreakTemplateDeclarations: true

# 自动加命名空间注释
FixNamespaceComments: true

# 对注释重排
ReflowComments: true

# 控制符合与括号间加空格
SpaceBeforeParens: ControlStatements

# 对#include重排序
SortIncludes: true
# 代码后面的//间加2个空格
SpacesBeforeTrailingComments: 2
# 行宽
ColumnLimit: 200
#在续行(\
#     下一行)时的缩进长度
ContinuationIndentWidth: 4
# 最大连续空行数为1
MaxEmptyLinesToKeep: 1
# 缩进：4个空格
IndentWidth: 4
TabWidth: 4
# 使用tab字符: Never, ForIndentation, ForContinuationAndIndentation, Always
UseTab:	Never
# 命名空间不缩进
NamespaceIndentation: None
# 每个命名空间单独一行
CompactNamespaces: false
# switch里的case缩进一级
IndentCaseLabels: true
# 总是在花括号前换行
#BreakBeforeBraces: Allman
# 可选择在非赋值操作符处换行
BreakBeforeBinaryOperators: None
# 确保`*`和`&`靠近类型而不是变量名。
PointerAlignment: Left
---
Language:    Proto

# public等控制符缩进
AccessModifierOffset: -4
# 对齐连续的赋值
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
# 尾部的注释对齐
AlignTrailingComments: true
# 行宽
ColumnLimit: 200
...
